<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Robot</title>
  <script src="/js/third/jsmpg.js"></script>
  <script src="/js/third/react.js"></script>
  <script src="/js/third/react-dom.js"></script>
  <script src="/js/third/jquery.min.js"></script>
  <script src="/js/third/browser.min.js"></script>
  <script src="/js/third/remarkable.min.js"></script>
</head>

<body>
  <div id="content"></div>
  <script type="text/javascript" src="/build/bundle.js"></script>
</body>
</html>
